<div class="row d-flex justify-content-center align-items-center m-0 p-0">
    <div class="col-sm-5">



        <div class="card">

            <div class="card-header font-weight-bold ">
                Inbox <button type="button" class="btn btn-warning float-right" (click)="logout()">Log Out</button>

            </div>

            <div class="card-body chatbox">
                <app-messageview></app-messageview>
            </div>

            <div class=" card-footer m-0 p-0 ">
                <app-messagesend></app-messagesend>
            </div>


        </div>



    </div>
</div>